<body class="bg-info">
  <div class="text-center mt-5">
    <h1 class="display-3 text-white">Create your Article</h1>
    <%= link_to 'My Blog1', articles_path , class: "btn btn-danger mt-5"%>
  </div>
</body>